
@{
    ViewBag.Title = "Finances";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}



<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Healthy Finances</h1>
        <p class="lead">
            Healty Finances is a system that helps you, in a very friendly way, to put things together and
            take the control of your personal finances once and for all!
        </p>
        <p class="lead">
            Finances are sometimes a very complicated subject. Several relationships have been affected by financial
            problems. We offer not only a system, but we will support you with several informations about how to keep
            your finances in good health.
        </p>
        <div class="col-md-3"></div>
        <p class="lead col-md-6 homeFadeIn2" style="display: none;">
            <em><strong>"Manage your debt to stay out of debt"</strong></em>
        </p>
        <br />
        <div class="col-md-3"></div>
    </div>
</div>
