@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron homeFadeIn1" style="display:none;">
    <h1>Healthy Finances</h1>
    <p class="lead">Healthy Finances is the ultimate financial controller. All you need in one place, and for free! </p>
</div>
<div class="homeFadeIn2" style="display:none;">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header bg-primary">Sign Up</div>
                <div class="card-body homeSlideDown1" style="display:none;">
                    <h4 class="card-title">New here? Sign Up for free!</h4>
                    <p class="card-text">Enjoy a new world with entire control of your finances. After sign up your finances will change for better! </p>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("SignUp", "Home")'">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header bg-primary">Sign In</div>
                <div class="card-body homeSlideDown2" style="display:none;">
                    <h4 class="card-title">Already a user? Sign In here.</h4>
                    <p class="card-text">Members, sign in your account here and continue keeping your finances in good health!</p><br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("SignIn", "Home")'">Sign In</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header bg-primary">Finances?</div>
                <div class="card-body homeSlideDown3" style="display:none;">
                    <h4 class="card-title">All information you need here.</h4>
                    <p class="card-text">Know more about financial planning, investments and other tips about your finances.</p><br />
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("About", "Home")'">Dicover</button>
                </div>
            </div>
        </div>
    </div>
</div>
